body.body-layout-admin{
    padding-top: none !important;
    color: #5a5a5a;
}

.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow{
    height: 5.5rem!important;
}

.styleLogout{
    margin-left:75%!important;
}

.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse.navbarAdmin{
    background-color: #009846!important;
}

.position-sticky.pt-3.region-nav{
    background-color: #009846!important;
}

#sidebarMenu div ul li a.nav-link{
    color: white!important;
}