a:link { text-decoration: none; color:black!important } 
/* ; color:white!important */
a:visited { text-decoration: none; color:black!important }
/* ; color:white!important */
a:hover { text-decoration: none; color:black!important}
a:active { text-decoration: none; color:black!important}
.title-a-icon{
  color: black!important;
  text-decoration: none!important;
  text-decoration-color: none!important;
}

.dropdown-menu li a{
  color:white!important;
  background-color: #009846!important;
}

@media (max-width: 768px){
    .navbar-style-mobil{
        position: absolute!important;
        z-index: 999999!important;
    }    
}