/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 100;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.marketing .col-lg-6 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-6 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.margin-left-col-lg-4{
  margin-left: 17%!important;
}

@media (max-width: 991px){
  /* .marketing{
    margin-top: -13rem!important;
  } */

  div.col-lg-4.margin-left-col-lg-4{
    margin-left: 0!important;
  }
}

.list-unstyled {
  padding-left: 43px;
  list-style: none;
}

/* .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0 !important;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */

.svg-search{
  margin-top:5px!important
}

#carouselExampleIndicators{
  position: relative!important;
}

/* .App {
  padding: 1rem;
} */

.navbar{
  background-color: #b4dc73!important;
  /* A7E088 */
  /* border-radius: 0.5rem!important;
  margin-bottom: 1.5rem!important; */
}
.flex-shrink-0{
  background-color: #AD062E90!important;
  color: #AD062E!important;
}

.navbar-light .navbar-nav .nav-link {
  color: white!important;
}

/* .btn{
  color: white!important;
} */

.body-card-group{
  padding: 1rem!important;
}

.body-card-group .row{
  padding: 1.5rem!important;
}

.body-card-group .row .card .text-white{
  border-radius: 5rem!important;
}

.Logo {
  background-image: url(../public/images/LOGO\ ESTALELLA\ COLORS.jpg);
  width: 4rem!important;
  height: 4rem!important;
}

.dropdown-menu{
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color:white!important;
  text-align: left;
  list-style: none;
  background-color: #b4dc73!important;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.color-div-card{
  margin-top: 0.5rem;
  /* background-color: #5CCF98!important;
  border-radius: 0.5rem;
  color: white; */
}

footer{
  background-color: #21252980;
}

footer div span.text-muted{
  color: antiquewhite!important;
}

/* Featurettes
------------------------- */
.featurette-divider.fix-margin-featurette-divider-bottom{
  margin-bottom: 0!important; /* Space out the Bootstrap <hr> more */
}

.featurette-divider.fix-margin-featurette-divider-top{
  margin-top: 0!important; /* Space out the Bootstrap <hr> more */
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


.dropdown-item{
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color:white!important;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  /* background-color: transparent; */
  background-color: #b4dc73!important;
  border: 0;
}

body {
  padding-top: 3rem;
  /* padding-bottom: 3rem; */
  color: #5a5a5a;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/* lista de iconos */

.nolist {
  /* display: flex; */
  align-items: flex-start;
  margin-bottom: 0;
  list-style:circle!important;
}

.nolist::before {
  background: none!important;
}

/* } */
/* .icon-list 
.icon-list  */
.li-arrow {
  padding-left: 0;
  list-style: none;

  display: flex;
  align-items: flex-start;
  margin-bottom: .25rem;
}

.icon-list li::before {
  /* display: block; */
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
}

.div-ul-ul{
  margin-top: 3rem!important;
  margin-left: -3rem!important;
}

.containerH1{
  width: 100%!important;
  height: 10rem!important;
  /* background-color: seagreen; */
  color: grey;
  margin-bottom: 2rem!important;
  /* border-top: #212529;
  border-style: ridge;
  border-bottom: #212529; */
}

.containerH1 h1{
  font-size: 7rem!important;
}

/* .btn{
  background-color: blue!important;
} */

@media (max-width: 645px) {
  /* .marketing{
    margin-top: -13rem!important;
  } */

  .containerH1 {
    width: 100%!important;
    height: 25%!important;
    /* background-color: seagreen; */
    color: grey;
    margin-bottom: 2rem!important;
  }
  .containerH1 h1{
    font-size: 2rem!important;
  }

  .text-h1{
    text-align: center!important;
  }

  .div-ul-ul{
    margin-top: 2rem!important;
    margin-left: -9rem!important;
  }  
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card-body .card-text{
  font-family: "Segoe UI";
  font-size:larger;
}

.container-background{
  background-color: #b4dc73;
}

.col-row-subtitle{
  font-family: cursive;
  font-size:smaller;
  font-weight:600;
  color: antiquewhite;
}

.title-row-principal{
  font-family: cursive;
  font-size: 3rem;
  font-weight:bolder;
  font-style: italic;
  color: antiquewhite;
}

@media (max-width: 350px) {
  /* .marketing{
    width: 100%!important;
  } */

  .card-body .card-text{
    font-family: "Segoe UI";
    font-size:small;
  }
  
  .col-row-subtitle{
    font-family: cursive;
    font-size:.5rem;
    /* font-weight:200; */
    color: antiquewhite;
  }
  
  .div-imagen-extraescolar{
    align-self: center!important;
  }
  
  .imagen-extraescolar{
    width: 100%!important;
  }

  .title-row-principal{
    font-family: cursive;
    font-size: 1.5rem;
    font-weight:bolder;
    font-style: italic;
    color: antiquewhite;
  }

  .containerH1 {
    width: 100%!important;
    height: 25%!important;
    /* background-color: seagreen; */
    color: grey;
    margin-bottom: 2rem!important;
  }
  .containerH1 h1{
    font-size: 2rem!important;
  }

  .text-h1{
    text-align: center!important;
  }

  .div-ul-ul{
    margin-top: 3rem!important;
    margin-left: -11rem!important;
  }  
}